<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>施設予約</title>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
  <div id="base">
    <div th:replace="fragment/header"></div>

    <div id="contents">
      <div id="view-title" th:text="${ message + 'が完了しました。'}">◯◯が完了しました。</div>
      <form th:action="@{/}" method="get">
        <input type="submit" value="メニューに戻る" />
      </form>
    </div>

    <div th:replace="fragment/footer"></div>
  </div>
</body>
</html>