<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>施設情報更新内容確認</title>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
  <div id="base">
    <div th:replace="fragment/header"></div>

    <div id="contents" th:object="${facilityForm}">
      <div id="view-title">施設情報更新内容確認</div>

      <p id="contents-title">以下の内容で更新します。よろしいですか？</p>

      <form th:action="@{'/admin/facility/update/' + *{id}}" method="post">
        <table id="facility-info">
          <tr>
            <th class="facility-info-th">施設名</th>
            <td th:text="*{name}"></td>
          </tr>
          <tr>
            <th class="facility-info-th">種別</th>
            <th:block th:each="facilityType : ${types}">
              <td th:text="${facilityType.name}" th:if="${facilityType.id == facilityForm.typeId}"></td>
            </th:block>
          </tr>
          <tr>
            <th class="facility-info-th">定員</th>
            <td th:text="*{capacity}"></td>
          </tr>
        </table>

        <p>
          <input type="submit" name="redo" value="戻る" />
          <input type="submit" name="complete" value="確定" />
        </p>
      </form>
    </div>

    <div th:replace="fragment/footer"></div>
  </div>
</body>
</html>