<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>ユーザ一覧</title>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
  <div id="base">
    <div th:replace="fragment/header"></div>

    <div id="contents">
      <div id="view-title">ユーザー情報管理</div>

      <!--       <ul class="msgs"> -->
      <!--         <li>エラーメッセージ表示エリア</li> -->
      <!--       </ul> -->

      <p id="contents-title">ユーザ一覧</p>

      <input type="button" value="新規登録" th:attr="onClick='location.href=\'' + @{/admin/user/add} + '\''" />

      <table id="user-info">
        <tr>
          <th class="user-info-th user-info-index">NO</th>
          <th class="user-info-th">ユーザー名</th>
          <th class="user-info-th">パスワード</th>
          <th class="user-info-th">権限</th>
          <th class="user-info-th">備考</th>
        </tr>
        <tr th:each="user, stat : ${users}">
          <td th:text="${stat.count}"></td>
          <td><a th:href="@{'/admin/user/update/' + ${user.id}}" th:text="${user.id}"></a></td>
          <td th:text="${user.password}"></td>
          <td th:text="${user.permissionLevel.text}"></td>
          <td th:text="${user.note}">何でもできる</td>
        </tr>
      </table>
    </div>

    <div th:replace="fragment/footer"></div>
  </div>
</body>
</html>